.section-wrapper {
  padding: 2em;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 77vh;
  white-space: pre;
}

.intext-button {
  text-decoration: none;
  color: rgb(86, 156, 235);
}

.intext-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(86, 156, 235);
}

.intext-button:visited {
  text-decoration: none;
  color: rgb(86, 156, 235);
}

.intext-button:active {
  text-decoration: none;
  color: rgb(86, 156, 235);
}
